{%extends 'base.html'%}
{% block title %} Abuelo's Delicatessen {%endblock%}
{% block cssperfile %}
<style>
  /* .card-img {
    width: 100%;
    height: 18vw;

}
.card-img img{
  width: 100%;
  height: 100%;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qty-input {
  -moz-appearance: textfield;
  text-align: center;
}
.my-carousel-inner {
  padding: 1em;
}
.my-card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.my-carousel-control-prev,
.my-carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .my-carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .my-carousel-inner {
    display: flex;
  }
}
.my-card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .my-card .img-wrapper {
    height: 17em;
  }
}
</style>
{%endblock%}
{%block content%}
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Welcome to our<strong> Store</strong></h3>
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p> -->
              <p class="fst-italic">
                Celebrating the culture of home cooking for everyday culinary creations through:
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Fresh and premium ingredients.</li>
                <li><i class="bx bx-check-double"></i> Quality products.</li>
                <li><i class="bx bx-check-double"></i> Fast delivery.</li>
              </ul>
              <p>
                The most convinient way of finding the best ingredients for your dish is one click away! Just order now and we will deliver at your doorstep.
              </p>
            </div>

          </div>
          
          <div class="col-lg-5 align-items-stretch video-box" style="background-image: url( {{ url_for('static', filename='/img/about.jpg') }});">
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why choose <span>Our Store?</span></h2>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Quality</h4>
              <p>We only give you guaranteed high quality products.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Premium</h4>
              <p>Premium experience with affordable price.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Delivery</h4>
              <p>Fast delivery within Metro Manila</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Whu Us Section -->




    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2>Our <span>Products</span></h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Show All</li>
              <li data-filter=".filter-Meat">Meat</li>
              <li data-filter=".filter-Seafood">Seafood</li>
              <li data-filter=".filter-Others">Others</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" id="generate-menu">


        </div>

      </div>
    </section><!-- End Menu Section -->


    <section class="menu mt-4">
      <div class="container">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
          <div class="carousel-inner my-carousel-inner" id="products_cards">


            </div>
            <button class="carousel-control-prev my-carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next my-carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
            </div>
     

      </div>
    </section>


    <!-- ======= Product Slide Section ======= -->
    <!-- <section class="menu">
        <div class="container text-center my-3">
          <div class="section-title">
            <h2>Fresh <span>Stocks!</span></h2>
          </div>
          <div class="row mx-auto my-auto justify-content-center">
              <div id="carouselExampleInterval" class="carousel slide carousel-dark" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox" id="products_card">
                      <div class="carousel-item">
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="card-img">
                                      <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                                  </div>
                                  <div class="card-img-overlay">Slide 6</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="carousel-control-prev bg-transparent w-aut" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-transparent w-aut" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
              </div>
          </div>

      </div>

    </section> -->
      <!-- End Product Slide -->
    <!-- ======= Specials Section ======= -->
    <!-- <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Check our <span>Specials</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Architecto ut aperiam autem id</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename = '/img/specials-1.jpg')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename = '/img/specials-2.jpg')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename = '/img/specials-3.jpg')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename = '/img/specials-4.jpg')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename = '/img/specials-5.jpg')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Specials Section -->


    

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Some photos from <span>Our Store</span></h2>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-1.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-1.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-2.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-2.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-3.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-3.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-4.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-4.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-5.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-5.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-6.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-6.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-7.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-7.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename = '/img/gallery/gallery-8.jpg') }}" class="gallery-lightbox">
                <img src="{{ url_for('static', filename = '/img/gallery/gallery-8.jpg') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2><span>Contact</span> Us</h2>
          <p>Reach us and visit our Store!</p>
        </div>
      </div>

      <div class="map container-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.165528023936!2d121.05826271432014!3d14.589641981257731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c819c3e18a2d%3A0x37674bcb0e9ef103!2s1605%20ADB%20Ave%2C%20Ortigas%20Center%2C%20Pasig%2C%20Metro%20Manila!5e0!3m2!1sen!2sph!4v1638194452764!5m2!1sen!2sph" style="border:0; width:100%; height:25rem" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="container mt-5">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 info">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>ADB Avenue, 1605 Pasig, Philippines</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-facebook"></i>
              <h4>FB Page:</h4>
              <p>facebook.com/abuelosdeli</p>
              
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-instagram"></i>
              <h4>Instagram:</h4>
              <p>instagram.com/abuelosdeli</p>
             
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+63915-560-0480</p>
            </div>
          </div>
        </div>


      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Login</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="#" method="POST" id="login_form">
        <div class="modal-body">
            <div class="form-group">
              <label for="login_email">Email</label>
              <input type="email" class="form-control" id="login_email" name="login_email">
            </div>
            <div class="form-group">
              <label for="login_password">Password</label>
              <input type="password" class="form-control" id="login_password" name="login_password">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn book-a-table-btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="view_item" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showImages">Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="view_item_content_body">

      </div>
      <div class="modal-footer" id="view_item_content_footer">

      </div>
    </div>
  </div>
</div>

{%endblock%}

{%block jsperfile%}
<script type="text/javascript">

$(document).ready(function(){


  //onload
  fetch('/product/product-get', {
        method: 'POST',
        body: JSON.stringify({"page":"homepage"}),
          }).then(response => response.json())
          .then(data => {
            // console.log(data)

            data.forEach(product => {

              document.getElementById('generate-menu').innerHTML += `
              <div class="col-lg-6 menu-item filter-${product.product_category}">
                <div class="menu-content">
                 <!-- <a href="#">${product.product_title}</a><span>Php ${product.product_price}</span> -->
                  <a javascript:void(0) id="view_item_${product.id}" data-bs-toggle="modal" data-bs-target="#view_item" onclick="view_item(this.id, ${product.id})">${product.product_title}</a><span>Php ${product.product_price}</span>
                </div>
                <div class="menu-ingredients">
                  ${product.product_description}
                </div>
              </div>
              `
            });


            var count_active = 1;

            data.forEach(product => {
            // console.log(product.product_image[0].file_name)
            if(count_active <= 1){
             
              document.getElementById('products_cards').innerHTML += `
              <div class="carousel-item my-carousel-item">
                  <div class="card my-card">
                    <div class="img-wrapper my-img-wrapper"><img src="/static/img/product_images/${product.product_image[0].file_name}" class="d-block w-100" alt="..."> </div>
                      <div class="card-body">
                        <h4 class="card-title text-center">${product.product_title}</h4>
                          <p class ="card-text" >
                            <div class="text-muted text-center">${product.product_description}</div>
                            </p>
                          <div class="input-group mb-3  col-sm-12">
                            <h5 class="text-muted text-center col-sm-12">Php ${product.product_price}</h5>
                          </div>
        
                          <div class="input-group mb-3">
                                        
                          <div class="btn-group btn-group-sm mx-auto">
                              <button type="button" class="btn btn btn-outline-secondary btn-sm" id="minus" onclick="document.getElementById('product_qty_${product.id}').value --; validate_qty(document.getElementById('product_qty_${product.id}').value, ${product.product_qty}, document.getElementById('product_qty_${product.id}'))">-</button>
                                <div class="input-group-btn">
                                  <input type="number" class="form-control qty-input" id="product_qty_${product.id}" placeholder="Quantity" style="border-radius: 0;" min ="1" max = "${product.product_qty}" value="1" onkeyup = "validate_qty(this.value, ${product.product_qty}, this)" onchange="validate_qty(this.value, ${product.product_qty}, this)">
                                </div>
                              <button type="button" class="btn btn btn-outline-secondary btn-sm" id="plus" onclick="document.getElementById('product_qty_${product.id}').value ++; validate_qty(document.getElementById('product_qty_${product.id}').value, ${product.product_qty}, document.getElementById('product_qty_${product.id}'))">+</button>
                            </div>

                          </div>
                          <div class = "text-center">
                            <a javascript:void(0) class="book-a-table-btn mx-auto" id="view_item_${product.id}" data-bs-toggle="modal" data-bs-target="#view_item" onclick="view_item(this.id, ${product.id})"><i class="bi bi-eye"></i></a>
                            <a javascript:void(0) class="book-a-table-btn mx-auto" id="${product.id}" onclick="add_to_cart(this, document.getElementById('product_qty_${product.id}').value)"><i class="bi bi-cart-plus"></i></a>   
                          </div>
                     </div>
                  </div>
              </div>

              `;

            }else{
              document.getElementById('products_cards').innerHTML += `
              <div class="carousel-item my-carousel-item">
                  <div class="card my-card">
                    <div class="img-wrapper my-img-wrapper"><img src="/static/img/product_images/${product.product_image[0].file_name}" class="d-block w-100" alt="..."> </div>
                      <div class="card-body">
                        <h4 class="card-title text-center">${product.product_title}</h4>
                          <p class ="card-text" >
                            <div class="text-muted text-center">${product.product_description}</div>
                            </p>
                          <div class="input-group mb-3  col-sm-12">
                            <h5 class="text-muted text-center col-sm-12">Php ${product.product_price}</h5>
                          </div>
        
                          <div class="input-group mb-3">
                                        
                          <div class="btn-group btn-group-sm mx-auto">
                              <button type="button" class="btn btn btn-outline-secondary btn-sm" id="minus" onclick="document.getElementById('product_qty_${product.id}').value --; validate_qty(document.getElementById('product_qty_${product.id}').value, ${product.product_qty}, document.getElementById('product_qty_${product.id}'))">-</button>
                                <div class="input-group-btn">
                                  <input type="number" class="form-control qty-input" id="product_qty_${product.id}" placeholder="Quantity" style="border-radius: 0;" min ="1" max = "${product.product_qty}" value="1" onkeyup = "validate_qty(this.value, ${product.product_qty}, this)" onchange="validate_qty(this.value, ${product.product_qty}, this)">
                                </div>
                              <button type="button" class="btn btn btn-outline-secondary btn-sm" id="plus" onclick="document.getElementById('product_qty_${product.id}').value ++; validate_qty(document.getElementById('product_qty_${product.id}').value, ${product.product_qty}, document.getElementById('product_qty_${product.id}'))">+</button>
                            </div>

                          </div>
                          <div class = "text-center">
                            <a javascript:void(0) class="book-a-table-btn mx-auto" id="view_item_${product.id}" data-bs-toggle="modal" data-bs-target="#view_item" onclick="view_item(this.id, ${product.id})"><i class="bi bi-eye"></i></a>
                            <a javascript:void(0) class="book-a-table-btn mx-auto" id="${product.id}" onclick="add_to_cart(this, document.getElementById('product_qty_${product.id}').value)"><i class="bi bi-cart-plus"></i></a>   
                            </div>
                        </div>
                  </div>
              </div>

              `
            }
            count_active += 1;  
            });

            var multipleCardCarousel = document.querySelector(
  "#carouselExampleControls"
);
if (window.matchMedia("(min-width: 768px)").matches) {
  var carousel = new bootstrap.Carousel(multipleCardCarousel, {
    interval: false,
  });
  var carouselWidth = $(".my-carousel-inner")[0].scrollWidth;
  var cardWidth = $(".my-carousel-item").width();
  var scrollPosition = 0;
  $("#carouselExampleControls .my-carousel-control-next").on("click", function () {
    if (scrollPosition < carouselWidth - cardWidth * 4) {
      scrollPosition += cardWidth;
      $("#carouselExampleControls .my-carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
  $("#carouselExampleControls .my-carousel-control-prev").on("click", function () {
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      $("#carouselExampleControls .my-carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
} else {
  $(multipleCardCarousel).addClass("slide");
}
          })
   
});

function view_item(e_id, p_id){
  fetch('/product/product-get', {
        method: 'POST',
        body: JSON.stringify({"id":p_id}),
          }).then(response => response.json())

          .then(product => {
            var card_carousel = "";
            var carousel_active = "active"
            var counter = 1;

            product.product_image.forEach(images =>  {
              if (counter <= 1){
              carousel_active = "active"
              }else{
                carousel_active = ""
              }
               card_carousel += `
             
               <div class="carousel-item ${carousel_active} ">
                 <img src="/static/img/product_images/${images.file_name}" class="d-block w-100 mx-auto" alt="https://via.placeholder.com/400">
                 <div class="carousel-caption d-none d-md-block">
                   <h3>${product.product_title}</h3>
                   <p class="card-text">${product.product_description}</p>
                 </div>
               </div>
               `
               counter += 1
             });

        document.getElementById('view_item_content_body').innerHTML = `
         <div class="card">
           <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

             
             <div class="carousel-inner">
              ${card_carousel}
             </div>

             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
             </button>
           </div>
           <div class="card-body">
             <h5 class="card-title"><strong>Php ${product.product_price}</strong></h5>
             <p class="card-text"><span class="text-muted">Stock Available: ${product.product_qty}</span></p>
           </div>
         </div>
 
       </div>`;


      document.getElementById('view_item_content_footer').innerHTML = `
      
      <div class="ms-auto text-end">Quantity:</div>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn btn-outline-secondary btn-sm" id="minus" onclick="document.getElementById('view_product_qty_${product.id}').value --; validate_qty(document.getElementById('view_product_qty_${product.id}').value, ${product.product_qty}, document.getElementById('view_product_qty_${product.id}'))">-</button>
              <div class="input-group-btn">
                <input type="number" class="form-control qty-input" id="view_product_qty_${product.id}" placeholder="Quantity" style="border-radius: 0;" min ="1" max = "${product.product_qty}" value="1" onkeyup = "validate_qty(this.value, ${product.product_qty}, this)" onchange="validate_qty(this.value, ${product.product_qty}, this)">
              </div>
            <button type="button" class="btn btn btn-outline-secondary btn-sm" id="plus" onclick="document.getElementById('view_product_qty_${product.id}').value ++; validate_qty(document.getElementById('view_product_qty_${product.id}').value, ${product.product_qty}, document.getElementById('view_product_qty_${product.id}'))">+</button>
          </div>


        <a javascript:void(0) class="book-a-table-btn " id="${product.id}" onclick="add_to_cart(this, document.getElementById('view_product_qty_${product.id}').value)"><i class="bi bi-cart-plus"> Add to Cart</i></a>


         `;
           })
}

function validate_qty(current_value, max_qty, e){

  if(current_value > max_qty){
    document.getElementById(e.id).value = max_qty ;

  }else if(current_value<=0){
    document.getElementById(e.id).value = 1;
  }
}

function add_to_cart(e_id, quantity){

  fetch('/carts/add-cart', {
        method: 'POST',
        body: JSON.stringify({"product_id":e_id.id, "order_qty":quantity}),
          }).then((res)=> res.json())
          .then((data)=>{
          Toast.fire({
            icon: 'success',
            title: 'Product added to cart!'
          })
          })
}

  var login_form = document.getElementById("login_form")
  login_form.addEventListener("submit",(e)=>{
      e.preventDefault()
      let loginData = new FormData(login_form);
      
      const data = {}
      loginData.forEach((value, key) => (data[key] = value))

      console.log(data)

      fetch('/auth/login', {
        method: 'POST',
        body: JSON.stringify(data),
          }).then((res)=>{
            console.log(res)
                if (res.redirected) {
              window.location.href = res.url
            }else{
              Toast.fire({
              icon: 'error',
              title: 'Wrong credentials. Login failed!'
                 })
            }
      })
    
  })
</script>
{%endblock%}